# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
*.rsuser
[Tt]est[Rr]esult*/
[Dd]ebug*/
[Rr]elease*/

# NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config

# Build results
[Bb]uild[Ll]og.*
*.dll
*.exe
*.pdb

# Temp files
*~
*.tmp
